@import "tailwindcss";

@font-face {
  font-family: "OPPOSans";
  src: url("/fonts/OPPOSans-R_1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OPPOSans";
  src: url("/fonts/OPPOSans-M_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OPPOSans";
  src: url("/fonts/OPPOSans-B_1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba PuHuiTi";
  src: url("/fonts/Alibaba-PuHuiTi-Regular_1.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba PuHuiTi";
  src: url("/fonts/Alibaba-PuHuiTi-Medium_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alibaba PuHuiTi";
  src: url("/fonts/Alibaba-PuHuiTi-B_1.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "OPPOSans", "Alibaba PuHuiTi", "PingFang SC", "Microsoft YaHei", sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-brand: #1D60FE;
  --color-brand-light: #D5E1FF;
  --color-page-bg: #F2F6FA;
  --color-footer-bg: #151B26;
  --color-footer-text: #C9D8FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "OPPOSans", "Alibaba PuHuiTi", "PingFang SC", "Microsoft YaHei", sans-serif;
}
